
code {
    color: #C7254E;
    background: #F9F2F4;
}


.hljs {
    color: #C7254E;
    background: #F9F2F4;
}

/* Add spacing between inline links in the libraries index without &nbsp;. */
h1#faust-libraries-index ~ h2 + p a {
    display: inline-block;
    margin-right: 0.6em;
}
