ul.nav .main {
    font-size: 150%;
}

a {
    color: #194daf;
    text-decoration: none;
}

h1 {
    margin-top: 80px;
    font-size: 4em;
    font-weight: 500;
    color: #194daf;
}

h2 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 500;
}
h4 {
    font-weight: bold;
    font-size: 1em;
}

code {
    color: #C7254E;
    background: #F9F2F4;
}


.hljs {
    color: #C7254E;
    background: #F9F2F4;
}